# string

In [1]:
print('hello world')

hello world

In [2]:
a='heteroscedasticity'

In [3]:
type(a)

str

In [4]:
print(type(a))

<class 'str'>

In [6]:
print(a)

heteroscedasticity

In [7]:
len(a)

18

In [8]:
a[:5]  # string slicing

'heter'

In [9]:
a[::-1]

'yticitsadecsoreteh'

In [10]:
a[::]

'heteroscedasticity'

In [11]:
a[:]

'heteroscedasticity'

In [12]:
a[:-1]

'heteroscedasticit'

In [13]:
a[2:16:2]

'trseatc'

In [10]:
a[-2:-9:1]

''

In [14]:
a[-2:-9:-1]

'ticitsa'

In [16]:
a[2:12:-1]#wrong

''

In [18]:
'h' in a#membership

True

In [19]:
'h' in 'high'

True

In [20]:
'h' not in a

False

In [21]:
a.strip()

'heteroscedasticity'

In [4]:
' JMCRJKKLMVKFJGL '.lstrip() # removing white space character from left side

'JMCRJKKLMVKFJGL '

In [31]:
a.rstrip()

'heteroscedasticity'

In [22]:
a.lower()

'heteroscedasticity'

In [23]:
a.upper()

'HETEROSCEDASTICITY'

In [24]:
a.capitalize()

'Heteroscedasticity'

In [1]:
'hi i m subha'.capitalize() # convert the first later of the sentence into capital leter

'Hi i m subha'

In [25]:
a.title()

'Heteroscedasticity'

In [2]:
'hi i m subha'.title() # convert the first later of each word in a sentence into capital later

'Hi I M Subha'

In [26]:
'HetEfMFkjmfkFM'.swapcase()

'hETeFmfKJMFKfm'

In [28]:
a.count('e')

3

In [29]:
a.replace('e','a')

'hataroscadasticity'

In [7]:
b='this is a superman'
ll=b.replace('is','was',1)
rr=b.replace('is','was',2)
ll,rr

('thwas is a superman', 'thwas was a superman')

In [37]:
a.split(",")

['heteroscedasticity']

In [39]:
'i am a  good girl and a stay in hyderabad'.split(" ")# it will split a sentence or string and we should specify a 
                                                    #condition where to be splitted in side the bracket within the qote

['i', 'am', 'a', '', 'good', 'girl', 'and', 'a', 'stay', 'in', 'hyderabad']

In [40]:
'i am a  good girl and a stay in hyderabad'.split(' ',2)

['i', 'am', 'a  good girl and a stay in hyderabad']

In [50]:
'i am a  good girl and a stay in hyderabad'.join('typo')#join the elements of an itarable to the end of the string

'ti am a  good girl and a stay in hyderabadyi am a  good girl and a stay in hyderabadpi am a  good girl and a stay in hyderabado'

In [56]:
a.find('e')

1

In [58]:
a.find('t',4)

12

In [5]:
a.rfind('e') # reverse find

8

In [6]:
a.startswith('h')

True

In [7]:
a.endswith('y')

True

In [8]:
a.startswith('k')

False

In [9]:
a.endswith('l')

False

In [2]:
age=21
print('my age is {}'.format(age))

my age is 21

In [3]:
print('i read the article a poor man\'s journey')

i read the article a poor man's journey

In [4]:
print('i read the article a poor man\"s journey')

i read the article a poor man"s journey

In [5]:
print('i read the article a poor man\\s journey')

i read the article a poor man\s journey

In [6]:
print('i read the article a poor man\\"s journey')

i read the article a poor man\"s journey

In [7]:
print('i read the article a poor man\n s journey')

i read the article a poor man
 s journey

In [15]:
print('i read the article a poor man\t journey')

i read the article a poor man	 journey

In [24]:
def search(char,stri):
    l=len(stri)
    i=0
    while i<l:
        if stri[i]==char:
            print(i) 
        i=i+1

In [25]:
search('e','heteriscedasticity')

1
3
8

# list

list is a collection of different dataype in a order and mutable.duplicates are allowed

In [1]:
l=['apple','banana','yoyo',98,45.8,23,'0']
l

['apple', 'banana', 'yoyo', 98, 45.8, 23, '0']

In [31]:
l[1]

'banana'

In [33]:
l[0:5]   # slicing same as string slicing

['apple', 'banana', 'yoyo', 98, 45.8]

In [34]:
l[-3]

45.8

In [36]:
l[1]='cherry'
l              # to change a ;list item

['apple', 'cherry', 'yoyo', 98, 45.8, 23, '0']

In [37]:
for x in l:
    print(x)   # for loop

apple
cherry
yoyo
98
45.8
23
0

In [38]:
len(l)

7

In [39]:
# to add a item in a list we use append and it add the item at the last of the list
l.append('p')
l

['apple', 'cherry', 'yoyo', 98, 45.8, 23, '0', 'p']

In [40]:
l.insert(1,'orange') # insert a item at your desired place
l

['apple', 'orange', 'cherry', 'yoyo', 98, 45.8, 23, '0', 'p']

In [45]:
l.remove('p')
l

['apple', 'orange', 'cherry', 'yoyo', 98, 45.8, 23, '0']

In [46]:
l.pop(2)   # romeve a item by its index value . it will show u the removed item as well as remove from the list

'cherry'

In [47]:
l

['apple', 'orange', 'yoyo', 98, 45.8, 23, '0']

In [48]:
del l[3] its also used for remove or delete

In [49]:
l  # del l   can completely delete the list

['apple', 'orange', 'yoyo', 45.8, 23, '0']

In [50]:
l.clear() # it clear all the item and make it a empty list

In [51]:
l

[]

In [52]:
l=['apple','banana','yoyo',98,45.8,23,'0']
l

['apple', 'banana', 'yoyo', 98, 45.8, 23, '0']

In [53]:
l.reverse()

In [54]:
l   # it will reverse the order of item

['0', 23, 45.8, 98, 'yoyo', 'banana', 'apple']

In [55]:
a=l.copy()
a

['0', 23, 45.8, 98, 'yoyo', 'banana', 'apple']

In [58]:
b=[1,2,78,55,45,6,0,4,3]

In [59]:
l.extend(b)

In [60]:
l  # extend is used to add the items of one list to another list

['0', 23, 45.8, 98, 'yoyo', 'banana', 'apple', 1, 2, 78, 55, 45, 6, 0, 4, 3]

In [2]:
l.index('yoyo')# it will find the index position of the element inside the bracket

2

In [3]:
l.count('yoyo') #it will count hoe many time the element repeated in the list.

1

In [4]:
l.sort(key=None)# to short we must have same datatype variable in the list

TypeError: '<' not supported between instances of 'int' and 'str'

In [6]:
color_list=["Red", "Blue", "Green", "Black"]
color_list.sort(key=None, reverse=False)
print(color_list)

['Black', 'Blue', 'Green', 'Red']

In [9]:
color_list.reverse()

In [10]:
color_list

['Black', 'Blue', 'Green', 'Red']

In [11]:
cl=tuple(color_list)
cl

('Black', 'Blue', 'Green', 'Red')

In [12]:
listx=[1, 5, 7, 3, 2, 4, 6]

In [13]:
sublist=listx[2:7:2] #list[start:stop:step]

In [14]:
sublist

[7, 2, 6]

In [15]:
sublist=listx[::3]
sublist

[1, 3, 6]

In [16]:
sublist=listx[6:2:-2] #when step is negative the jump is made back
sublist

[6, 2]

In [17]:
min(listx)

1

In [18]:
max(listx)

7

In [17]:
listx = [["Hello", "World"], [0, 1, 2, 3, 3, 5]]

In [18]:
listx[0][1] #The first [] indicates the index of the outer list and second [] indicates the index of the nested list.

'World'

In [19]:
listx[1][3]

3

In [21]:
listx.append([True, False])  #add new items
listx

[['Hello', 'World'], [0, 1, 2, 3, 3, 5], [True, False]]

In [22]:
listx[1][2]=4  # update an item
listx

[['Hello', 'World'], [0, 1, 4, 3, 3, 5], [True, False]]

In [23]:
listy = list("HELLO WORLD")
listy

['H', 'E', 'L', 'L', 'O', ' ', 'W', 'O', 'R', 'L', 'D']

In [24]:
listy.index("L") #get index of the first item whose value is passed as parameter

2

In [25]:
listy.index("L", 4)	#define the index from which you want to search

9

In [26]:
listy.index("O", 3, 5)	#define the segment of the list to be searched

4

In [27]:
color_list

['Black', 'Blue', 'Green', 'Red']

In [28]:
color_list.pop() #it will remove the last element

'Red'

In [29]:
color_list

['Black', 'Blue', 'Green']

In [30]:
from collections import deque

In [31]:
color_list = deque(["Red", "Blue", "Green", "Black"])
color_list

deque(['Red', 'Blue', 'Green', 'Black'])

In [32]:
color_list.append("Yellow")

In [33]:
color_list.popleft()  
color_list

deque(['Blue', 'Green', 'Black', 'Yellow'])

In [8]:
w=[2,3,4,5,6,7,8,9]
l=[x**2 for x in w]
l

[4, 9, 16, 25, 36, 49, 64, 81]

# dictionary

In [34]:
dic=dict()
dic            # empty dictionary

{}

In [28]:
color = {"col1" : "Red", "col2" : "Green", "col3" : "Orange" }
color

{'col1': 'Red', 'col2': 'Green', 'col3': 'Orange'}

In [31]:
color.has_key('col1')

AttributeError: 'dict' object has no attribute 'has_key'

In [20]:
dicc = {1:20.5, 2:3.03, 3:23.22, 4:33.12}
dicc

dicc[1] # with key we can get the value

20.5

In [38]:
dicc.get(1) # put key inside the bracket to get the item

20.5

In [39]:
dicc['pdy2'] = 'STRING' 
dicc                    # to update a new element

{1: 20.5, 2: 3.03, 3: 23.22, 4: 33.12, 'pdy2': 'STRING'}

In [40]:
dicc.update({'py':'pandas'})
dicc                          # another prosedure to update

{1: 20.5, 2: 3.03, 3: 23.22, 4: 33.12, 'pdy2': 'STRING', 'py': 'pandas'}

In [43]:
dicc.items() # provide all the key pair values

dict_items([(1, 20.5), (2, 3.03), (3, 23.22), (4, 33.12), ('pdy2', 'STRING'), ('py', 'pandas')])

In [44]:
d = {'Red': 1, 'Green': 2, 'Blue': 3} 
for color_key, value in d.items():
     print(color_key, 'corresponds to ', d[color_key])

Red corresponds to  1
Green corresponds to  2
Blue corresponds to  3

In [46]:
for color in d.items():
    print(color)

('Red', 1)
('Green', 2)
('Blue', 3)

In [47]:
for color,val in d.items():
    print(color,val)

Red 1
Green 2
Blue 3

In [48]:
myDict = {'a':1,'b':2,'c':3,'d':4}
print(myDict)
if 'a' in myDict: 
    del myDict['a']
print(myDict)

{'a': 1, 'b': 2, 'c': 3, 'd': 4}
{'b': 2, 'c': 3, 'd': 4}

In [51]:
myDict.keys()

dict_keys(['b', 'c', 'd'])

In [52]:
myDict.values()

dict_values([2, 3, 4])

In [53]:
len(myDict)

3

In [21]:
seq=['age','name','sex']
di=dict.fromkeys(seq)
di

{'age': None, 'name': None, 'sex': None}

In [22]:
di=dict.fromkeys(seq,10)
di

{'age': 10, 'name': 10, 'sex': 10}

In [27]:
value=[10,'mani','m']
di=dict.fromkeys(seq,value)
di

{'age': [10, 'mani', 'm'], 'name': [10, 'mani', 'm'], 'sex': [10, 'mani', 'm']}

# tuple

In [56]:
tuplex = ('tuple', False, 3.2, 1)

In [57]:
tuplex

('tuple', False, 3.2, 1)

In [58]:
tup= 1,2,3,4,5
tup             # creating a tuple

(1, 2, 3, 4, 5)

In [59]:
tuplex = ("w", 3, "r", "e", "s", "o", "u", "r", "c", "e")

In [60]:
t=tuplex[3]
t

'e'

In [61]:
y=tuplex[-3]
y

'r'

In [62]:
'r' in tuplex

True

In [65]:
lis=[1,2,3,4]
tupl=tuple(lis)
lis,tupl

([1, 2, 3, 4], (1, 2, 3, 4))

In [4]:
tupp=(1,6,9,7,4)
tupp=tupp+(9,)  # adding two tuple
tupp

(1, 6, 9, 7, 4, 9)

In [5]:
# adding item in  specific index
tuplex=tupp[:4]+(1,7,0,4)
tuplex

(1, 6, 9, 7, 1, 7, 0, 4)

In [6]:
# making a tuple to a list
t=list(tuplex)
t

[1, 6, 9, 7, 1, 7, 0, 4]

In [8]:
from copy import deepcopy
tupx=(1,2,3,[],89)
tupx[3].append(5)
tupx

(1, 2, 3, [5], 89)

In [10]:
tupcopy=deepcopy(tupx) # to make clone of tuple
tupcopy

(1, 2, 3, [5], 89)

In [11]:
num=tuplex.count(1) # to count the frequency of a num in a tuple
num

2

tuples are immutable. if u want add remove any element from there first convert it into list then do operation and again make it a tuple

slicing is same as in list

In [12]:
tu=tuple('subhashree')
tu

('s', 'u', 'b', 'h', 'a', 's', 'h', 'r', 'e', 'e')

In [13]:
tu.index('b') # finding the index of any element

2

In [14]:
tu.index('s')

0

In [16]:
tu.index('s',1) #define the index from which you want to search

5

In [17]:
#define the segment of the tuple to be searched
tu.index('s',3,7)

5

In [18]:
len(tu)

10

In [21]:
a=9 # assign a variable
b=9, # create a tuple
a

9

In [22]:
b

(9,)

In [23]:
b*4

(9, 9, 9, 9)

In [25]:
tt=tu+b
tt

('s', 'u', 'b', 'h', 'a', 's', 'h', 'r', 'e', 'e', 9)

# SET

A set object is an unordered collection of distinct hashable objects. It is commonly used in membership testing, removing duplicates from a sequence, and computing mathematical operations such as intersection, union, difference, and symmetric difference.

In [27]:
se=set()
se

set()

In [31]:
ser={1,2,3,4,3,4,5,45,6}
ser

{1, 2, 3, 4, 5, 6, 45}

In [32]:
ps=[2,3,52,2,3,553,2,3,5,0]
a=set(ps)      # convert a list to a set
a

{0, 2, 3, 5, 52, 553}

In [33]:
ta='subhashree'
s=set(ta)     # it gives output in distinct and alphabetically order
s

{'a', 'b', 'e', 'h', 'r', 's', 'u'}

In [35]:
for n in set([2,4,5,23,9,5,3,4,9]):
    print(n)

2
3
4
5
9
23

In [37]:
# adding member to the set
clr=set()
clr.add('red')
clr

{'red'}

In [38]:
clr.update(['blue','green'])
clr

{'blue', 'green', 'red'}

In [42]:
# removing items from set
clr.pop()

'red'

In [43]:
clr.pop()  # it won't take any arguments. it will just remove the first item.

'blue'

In [46]:
num_set = set([2,8,9,4,3]) 
num_set.remove(2)
print(num_set)            # it remove item label wise

{3, 4, 8, 9}

In [47]:
num_set.remove(3)

In [48]:
num_set

{4, 8, 9}

In [49]:
num_set.discard(4) # discsard does the same what remove does

In [50]:
num_set

{8, 9}

In [2]:
setx = set(["green", "blue"])  # intersection
sety = set(["blue", "yellow"])
setz = setx & sety
print(setz)

{'blue'}

In [3]:
seti= setx|sety     #union
print(seti)

{'yellow', 'green', 'blue'}

In [4]:
setr=setx-sety # difference
print(setr)

{'green'}

In [6]:
setf=setx^sety  # symmetric difference
print(setf)

{'yellow', 'green'}

In [7]:
setxx=setx.copy()
setxx

{'blue', 'green'}

In [9]:
setxx.clear()

In [4]:
ss={8,0,4,'yu','re',5.7}
ss

{0, 4, 5.7, 8, 're', 'yu'}

In [23]:
a=map(lambda x:x**2,range(1,10))
print(a)

<map object at 0x0000023241490C10>

In [24]:
list(a)

[1, 4, 9, 16, 25, 36, 49, 64, 81]

In [25]:
def cube(x):
    return x**2

cubes = map(cube, range(10)) 
print(cubes)

<map object at 0x0000023241490850>

In [26]:
list(cubes)

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [29]:
special_cubes = filter(lambda x: x > 9 and x < 60, cubes) 
print(special_cubes)

<filter object at 0x0000023241490670>

In [30]:
list(special_cubes)

[]

In [19]:
a=56
b=88
def cmp(a,b):
    if a>b:
        print(a,'is greater tahn',b)
    elif a<b:
        print(b,'is greater than',a)
    else:
        print('both are equal')
print(cmp(a,b))

88 is greater than 56
None

# Class and Object

In [2]:
class Cars():
    pass

honda = Cars() # creating a new instance of class Cars
tata = Cars()

honda.modelname = 'city'
honda.yearm= 2017         # assigning the attribute or properties of objects/instances
honda.price= 1000000

tata.modelname= 'bolt'
tata.yearm= 2016
tata.price= 700000
 
print(honda.price)  
print(tata.modelname)

1000000
bolt

In [2]:
class Dog():
    def bark(self):      # creating methods and operations that can be performed by an object.
        print('barking')  # methods are the functions inside a class
        
d= Dog()  # creating a new instance of class Dog
print(type(d))
Dog.bark(d)  # we are asking the Dog class to bark and inside the bracket specifing a particular Dog object to bark
d.bark()   # calling the method on  a Dog object so it can perform the behaviour what's mentioned 
              # here the 'bark' method is taking the 'd' object as a parameter itself
#Dog.bark()   will give error

<class '__main__.Dog'>
barking
barking

In [2]:
id(d)

2559423876792

Here 'd' is an object or referring to an object.In our system we have spacial memory called heap memory compraising of all
the object we are creating including int str and all the objects occupy a space which has memory address and we can fetch
that memory address by 'id' method.

In [13]:
class Dog():
    def __init__(self,name):  # self denotes to the object itself
        self.name= name       #The word 'self' is used to represent the instance of a class. By using the "self" keyword
        print(name)                      # we access the attributes and methods of the class in python.
        
f=Dog('tim')
h= Dog('jaggu')

tim
jaggu

In [7]:
x='k'
class Dog():
    def __init__(self,name):  # self denotes to the object itself
        self.name= x   #The word 'self' is used to represent the instance of a class. By using the "self" keyword
        print(name)                      # we access the attributes and methods of the class in python.
        
f=Dog('tim')
h= Dog('jaggu')

tim
jaggu

The word 'self' is used to represent the instance of a class. By using the "self" keyword we access the attributes and methods of the class in python.
"__init__" is a reserved method in python classes. It is called as a constructor in object oriented terminology. This method is called when an object is created from a class and it allows the class to initialize the attributes of the class.

In [15]:
class Rectangle:
   def __init__(self, length, breadth, unit_cost=0): # here we are just planning to put these variable or property 
       self.length = length                                                         # or attributes in the object           
       self.breadth = breadth           # here we are actually putting the proprty or attribute    
       self.unit_cost = unit_cost             
   def get_area(self):
       return self.length * self.breadth
   def calculate_cost(self):
       area = self.get_area()
       return area * self.unit_cost
# breadth = 120 units, length = 160 units, 1 sq unit cost = Rs 2000
r = Rectangle(160, 120, 2000)
print("Area of Rectangle: %s sq units" % (r.get_area()))
print('Cost of area {}'.format(r.calculate_cost()))

Area of Rectangle: 19200 sq units
Cost of area 38400000

# Constructor and Self

In [12]:
class Human:
    def __init__(self):
        self.name='rashi'
        self.age=23
    def compare(self,other):
        if self.name==other.name:
            return True
        else:
            return False
        
h1= Human()  
h2= Human()
 
print(h1.name)
print(h2.name)

h1.name='naveen'

print(h1.compare(h2))
Human.compare(h1,h2)

rashi
rashi
False

False

Here the constructor is init method which is constructing or initializing the object's attribute or variable and the self is refering to the object itself inside any method.

# Variable in Python

There are two type of variable
1. Instance vriable
2. class(static) variable

when we are defining a varaible inside the init method is called instance variable. We can change the value of the varaible
for a single object and if we do it won't affect other object.

The variable we are defining inside the class block whose value is common for all object and if we change the value it will
be changing for all object.

In [18]:
class car:
    wheel=4                   # wheel belongs to class namespace
    def __init__(self):
        self.name='BMW'       # these variables belong to instance or object namespace
        self.mil= 10
        
c1=car()
c2=car()
print(c1.name,c1.mil,c1.wheel)
print(c2.name,c2.mil,c2.wheel)
    
c2.mil=12

print(c2.name,c2.mil,c2.wheel)
car.wheel=5
print(c1.name,c1.mil,c1.wheel)
print(c2.name,c2.mil,c2.wheel)

BMW 10 4
BMW 10 4
BMW 12 4
BMW 10 5
BMW 12 5

In system memory we have different namespace (an area where we create and store object/variable)
1. class namespace where we store class variables or static variables
2. object namespace where we store object variables or instance variables

# Method in Python

There are 3 sort of method in python

1.Instance method
2.Class method
3.Static method

in case of variable class variable and static variable are same but in case of method class method and static method is different

The methods which are interacting with instance variable are called instance method.
There are two type of method in instance
1. Accessor method -- to fetch the value of instance variable
2. Mutator method --  to modify the value of instance variable

In [ ]:
To use class variable we will be using class method
When we are not using calss variable and instance variable which is not concern with variable at that time we use static method
In this method there is nothing to do with any variable.

In [1]:
class student:
    school= 'GL'
    
    def __init__(self,m1,m2,m3):
        self.m1=m1
        self.m2=m2
        self.m3=m3
        
    def avg(self):
        return (self.m1+self.m2+self.m3)/3
    
    def get_m1(self):    # get method get the value (accessor)
        return self.m1
    
    def set_m1(self,value): # 
         self.m1 = value
    
    @classmethod
    def getschool(cls):
        return cls.school
    
    @staticmethod
    def info():
        print('this is student class')
    
    
s1=student(76,34,53)
s2=student(44,65,36)

print(student.avg(s1))
print(s1.avg())
print(s1.get_m1())
print(s2.set_m1(55))
print(student.getschool())
student.info()

54.333333333333336
54.333333333333336
76
None
GL
this is student class

# Inner Class In Python

In [9]:
class students:                      # outer class
    
    def __init__(self,name,rolln):
        self.name=name
        self.rolln=rolln
        self.lap= self.laptop()
        
        
    def show(self):
        print(self.name,self.rolln)
        self.lap.show()
        
    class laptop:                     # inner class
        def __init__(self):
            self.brand='hp'
            self.cpu='i5'
            self.ram=8
        
        def show(self):
            print(self.brand,self.cpu,self.ram)
            
        
        
s1=students('minu',4)
s2=students('sanu',7)

s1.show()

minu 4
hp i5 8

We can create object of inner class inside the outer class 
   or
We can create object of inner class outside of outer class provided we use outer class name to call it.

# Inheretance in python

In [17]:
class A:                              # Super class or parent class
    def feature1(self):
        print('feature1 is working')
                                        #( this is single level inheretance)
    def feature2(self):
        print('feature2 is working')    
        
class B(A):                           # sub class or child class

    def feature3(self):         
        print('feature3 is working')    # Here B class is inhereting the feature of class A
                                        # Now B can access all the features pressent in class A.
        
    def feature4(self):
        print('feature4 is working')
        
class C(B):
                                        # ( Multilavel inheretance)
    def feature5(self):                 # Now it can access all the features present in class A and Class B
        print('feature5 is working')
                                        
class D():
    def feature6(self):                  
        print('feature6 is working')

                                          # ( Multiple inheretance)
class E(A,D):                            # class E is inhereting the feature of A and D simultaneously
    def feature7(self):                  # we can take only completely non related class like A and D not like A and B
        print('feature7 is working')
        
        
a=A()
a.feature1()

b=B()
b.feature4()
b.feature1()

c=C()
c.feature5()
c.feature4()
c.feature1()
 
e=E()
e.feature6()
e.feature7()
e.feature2()

feature1 is working
feature4 is working
feature1 is working
feature5 is working
feature4 is working
feature1 is working
feature6 is working
feature7 is working
feature2 is working

# Constructor in Inheretance Python

1.How constructor behave in ineheretance
2.How to use super() in ineheretance
3.Method Resolution Order (MOR)

In [28]:
class A:
    def __init__(self):
        print('in A init')
        
    def feature1(self):
        print('feature1-A is working')
                                        
    def feature2(self):
        print('feature2 is working')    
                                      # B can access the init method of A but A can't
class B(A): 
    def __init__(self):
        super().__init__()     # if we want to try access init method of both classes
        print('in B init')
                                      
    def feature3(self):         
        print('feature3 is working')
                                    
    def feature4(self):
        print('feature4 is working')
        
class C():
    def __init__(self):
        print('in C init')
        
    def feature1(self):                 
        print('feature1-C is working')
                                        
class D(A,C):
    def __init__(self):
        super().__init__()
        print('in D init')
    def feature6(self):                  
        print('feature6 is working') 
        
    def feat(self):
        super().feature2()
        
d=D()  
b=B()
d.feature1()
d.feat()

in A init
in D init
in A init
in B init
feature1-A is working
feature2 is working

In [4]:
class A:
    def __init__(self):
        print('in A init')
        
    def feature1(self):
        print('feature1-A is working')
                                        
    def feature2(self):
        print('feature2 is working')    
                                      # B can access the init method of A but A can't
class B(A): 
    def __init__(self):
        super().__init__()     # if we want to try access init method of both classes
        print('in B init')
                                      
    def feature3(self):         
        print('feature3 is working')
                                    
    def feature4(self):
        print('feature4 is working')
        
class C():
    def __init__(self):
        print('in C init')
        
    def feature1(self):                 
        print('feature1-C is working')
                                        
class D(A,C):
    def __init__(self):
        super().__init__()
        print('in D init')
    def feature6(self):                  
        print('feature6 is working') 
        
    def feat(self):
        #super().feature2()
        self.feature2()
d=D()  
b=B()
d.feature1()
d.feat()

in A init
in D init
in A init
in B init
feature1-A is working
feature2 is working

In [2]:
class A:
    def __init__(self):
        print('in A init')
        
    def feature1(self):
        print('feature1-A is working')
                                        
    def feature2(self):
        print('feature2 is working')    
        
a=A()

in A init

In [3]:
class A:
    def __init__(self):
        print('in A init')
        
    def feature1(self):
        print('feature1-A is working')
                                        
    def feature2(self):
        print('feature2 is working')    
                                      # B can access the init method of A but A can't
class B(A): 
    def __init__(self):
        super().__init__()     # if we want to try access init method of both classes
        print('in B init')
                                      
    def feature3(self):         
        print('feature3 is working')
                                    
    def feature4(self):
        print('feature4 is working')
        
b=B()

in A init
in B init

If you create an object of sub class it will first try to find init of sub class if it is not found it will call init of super class
using that super().__init__() we can access the init method of super class.
In case of multiple inheretance it will find the left class init method as well as other method if the method name is same.
This is called method resolution order(MOR).

# Introduction to Polymorphism in Python

In [ ]:
Poly = Many
Morph = Form
(one thing can take different form)
Being a human we behav different in different situation and palce. Like wise objects behave different in different cases.
They have many forms.

There are 4 ways of implementing polymorphism
1.Duck typing
2.Operator overloading
3.Method overloading
4.Method overriding

In [6]:
class PyCharm:
    def execute(self):
        print('compailing')
        print('running')
        
        
class laptops:
    def code(self,ide):
        ide.execute()
        
ide = PyCharm()        
                 # before calling code methode we have to create ide object from PyCharm class
lp = laptops()
lp.code(ide)

compailing
running

In [8]:
class PyCharm:
    def execute(self):
        print('compailing')
        print('running')
        
class myedition:
    def execute(self):
        print('spelling_check')
        print('convention_check')
        print('compailing')
        print('running')           # we can replace the ide type from one class to another(pycharm to myedition) provided
                                   # we have the same method name (execute)
class laptops:                     # itdoesnt matter which class object we are passing, what matters is that object should
    def code(self,ide):            # have the same name method.
        ide.execute()
        
ide = myedition()        
                
lp = laptops()
lp.code(ide)

spelling_check
convention_check
compailing
running

In [14]:
class cow():
    def __init__(self,name,color):
        self.name = name
        self.color = color
        
c = cow('rose','white') 
print(c.name)
print(c)

rose
<__main__.cow object at 0x000001F15819A0A0>

In [17]:
class cow():
    def __init__(self,name,color):
        self.name = name
        self.color = color
        
    def __str__(self):
        return f"{self.name} has {self.color} color"
               
c = cow('rose','white') 
print(c.name)
#print(c.__str__())
print(c)

rose
rose has white color